h1 {
    color: red;
    margin: 0;
}

h3 {
    margin: 0;
    opacity: 0;
    font-family: 'Syne Tactile', cursive;
}

h2 {
    color: blue;
}

a {
    text-decoration: none;
}

h2 {
    color: blue;
}

/* Any UL element that is a child of a nav will be selected */
nav ul {
    display: flex;
    padding: 0px;
}

/* Any LI element that is a child of an UL element which is a child of 
   a nav element will be selected */
nav ul li {
    list-style: none;
} 

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: red;
    color: black;
    margin-right: 5px;
}

.home {
    cursor: pointer;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.hello-card {
    border: 1px solid black;
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}

.mask {
    height: 2.5em;
    overflow: hidden; 
}